html, body {
	width: 700px;
	margin: 0 auto;
}

.new_task {
	margin: 12px 0 0 0;
}

#task_title, #task_duedate {
	width: 40%;
	float: left;
}

label {
	color: #280;
	font-family: georgia, serif;
	font-size: 18pt;
	font-weight: bold;
	line-height: 200%;
}

[type~=submit] {
	margin: 48px 0;
}

#list {
	height: 80vh;
	overflow: auto;
}

.task {
	height: 120px;
	margin-top: -14px;
	padding: 0 9px;
	background-color: #eee;
}

h1 {
	width: 70%;
	margin: 12px 0;
	float: left;
}

h2 {
	width: 30%;
	margin: 12px 0;
	float: left;
}
