{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

    {% block newtask %}
	<div id="new_task">
	    <form method="post">
		<div id="task_title">
		    <label for="title">to do:</label><br />
		    <input type="text" id="title" name="title">
		</div>
		<div id="task_duedate">
		    <label for="duedate">complete on:</label><br />
		    <input type="text" id="duedate" name="duedate">
		</div>
		<input type="submit" value="save">
	    </form> 
	</div>
    {% endblock %}

    {% block tasks %}
	<div id="list">
	    {% for task in tasks %}
		<div class="task">
		    <h2>{{ task["title"] }}</h2>
		    <h3>{{ task["due_by"] }}</h3>
		    <a href="/complete/{{ task["id"] }}">complete</a>
		</div>
	    {% endfor %}
	</div>
    {% endblock %}
